<form [formGroup]="form">
  <h2>Add Appointment</h2>
  <div>
    <div>
      <p>First Name</p>
      <input type="text" formControlName="fname">
    </div>
    <div>
      <p>Last Name</p>
      <input type="text" formControlName="lname">
    </div>
    <div>
      <p>Age</p>
      <input type="number" formControlName="age">
    </div>
    <div>
      <p>Email</p>
      <input type="email" formControlName="email">
    </div>
    <div>
      <p>Calendar</p>
      <input type="date" formControlName="date">
    </div>
    <div>
      <h2>Trainee Preference</h2>
      <input formControlName="traineePref" value="Male" type="radio" id="male" name="traineePref">
      <label for="male">Male</label>
      <input formControlName="traineePref" value="Female" type="radio" id="female" name="traineePref">
      <label for="female">Female</label>
      <input formControlName="traineePref" value="No Preference" type="radio" id="noPref" name="traineePref">
      <label for="noPref">No Preference</label>
    </div>
    <div>
      <h2>
        Address
      </h2>
      <div>
        <p>Street Name</p>
        <input formControlName="streetName">
      </div>
      <div>
        <p>City Name</p>
        <input formControlName="cityName">
      </div>
      <div>
        <p>Pincode</p>
        <input formControlName="pincode">
      </div>
      <div>
        <p>State</p>
        <input formControlName="state">
      </div>
    </div>
    <div>
      <h2>Package</h2>
      <input formControlName="package" value="500" type="radio" name="package" id="500">
      <label for="500">500</label>
      <input formControlName="package" value="1000" type="radio" name="package" id="1000">
      <label for="1000">1000</label>
    </div>
    <div>
      <p>Duration</p>
      <input formControlName="duration" type="number">
    </div>
    <div>
      <h2>Total</h2>
      <p>{{total}}</p>
    </div>
    <div>
      <button (click)="onSubmit()">Add Appointment</button>
    </div>
  </div>
</form>
